<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Heading</th>
      <th>Time Listed</th>
      <th>Neighborhood</th>
      <th>External Link</th>
      <th>Rent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.heading %></td>
        <td><%= post.time_listed %></td>
        <td><%= post.hood %></td>
        <td><%= post.ext_link %></td>
        <td><%= post.price %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
