<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @post.heading %>
</p>

<p>
  <strong>Time Listed:</strong>
  <%= @post.time_listed %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @post.hood %>
</p>

<p>
  <strong>External Link:</strong>
  <%= @post.ext_link %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
